## TASK 1

In [ ]:
# Tuple containing tuples of student names and their favorite subjects
students = (('Alice', 'Math'), ('Bob', 'Science'), ('Charlie', 'History'))

# Dictionary with student names and their scores in different subjects
scores = {
    'Alice': {'Math': 90, 'Science': 85, 'History': 78},
    'Bob': {'Math': 82, 'Science': 88, 'History': 91},
    'Charlie': {'Math': 79, 'Science': 85, 'History': 92}
}
#o/p:{'Alice':90,'Bob':88}

In [4]:
scores['Alice']['Math']

NameError: name 'scores' is not defined

In [ ]:
out={}
out[students[0][0]]=scores[students[0][0]][students[0][1]]
out

{'Alice': 90}

### Disclaimer:Dont use ChatGPT
### *1-extracts names,scores_values using indexing
### *2-direct extraction
### follow *1 and *2 and do required task-Total 5 questions

In [ ]:
# Main Task:

# For each student in the students tuple, extract marks of their favorite subject from the scores dictionary and
# add it to a new dictionary with the student’s name as the key and the score as the value.

# Additional Questions:

# 1.From nested tuple students create a new tuple where each element is a string combining the first letter of the student’s name
# with the first letter of their favorite subject (in lowercase), separated by a hyphen (-).ie)('A-m','B-s','C-h') (*1)
# #dont try split and join;I think you all had good amt of pratice in it; this time for easier approach: **try formatting** search formatting in strings notebook,understand and apply

# 2.create new dictionay with key as Reverse of names in the students tuple and convert them to title case.
# extract all 3 subject marks as lists for individual student and add them as corresponding values .(*1) ie){'Ecila': [90, 85, 78],..for bob and charlie}
# **hint:try to use dictionary method for values**

# 3.Create a new dictionary where each key is the student’s name and the value is highest score among 3 subject for corresponding student.
# (*2)

## Task-2

In [ ]:
# Tuple containing employee names and their department
employees = (('John', 'HR'), ('Emily', 'Finance'), ('Michael', 'IT'), ('Sophia', 'Marketing'))

# Dictionary with employee names and their monthly salaries
salaries = {
    'John': [3000, 3200, 3100],
    'Emily': [3500, 3600, 3700],
    'Michael': [4000, 4200, 4100],
    'Sophia': [2800, 2900, 3000]
}

In [ ]:
# Task:(*2) for 2 tasks

# 4.Create a new dictionary where each key is the employee’s name and value is tuple containing employees department and  average of their monthly salaries.
# ie)in this format {'John': ('HR', 3100.0),...}

# 5.Calculate the total salary for each employee over the given 3 months and update the salaries dictionary with this sum as value
# changes should be in original dictionary salaries